 <div class="faq">
  <h1> Frequently Asked Questions </h1>
  <p>
    <h2>Is fuckTimer going to be open source or private once completed?</h2>
    Our goal is to provide a new completely new Timer, where anyone can contribute. So yes, it will be released as open source project.
  </p>
  <p>
    <h2>Will fuckTimer support checkpoints and stages in bonus levels?</h2>
    Yes.
  </p>
  <p>
    <h2>When it's done? ETA? Release? Deadline?</h2>
    It's done, when it's done. We do not have any deadlines for this project and you should know <strong>We are working here in your spare time - for free.</strong>
  </p>
  <p>
    <h2>Do you still looking for new developers?</h2>
    Sure. If you have enough knowledge in SQL (database design, ...), PHP (RESTful API based on Lumen) and/or SourcePawn (Gameserver Plugins). Interest? Contact us on our <a href="https://discord.fucktimer.com" target="_blank">Discord Server</a>.
  </p>
</div>
