<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Twitter" target="_blank" href="https://twitter.com/" + {{site.twitter_username}}><i class="icon fab fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/" + {{site.github_username}}><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://discord.fucktimer.com/"><i class="icon fab fa-discord" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="https://fucktimer.com/" data-scroll>Homepage</a>
        <a class="link" href="https://docs.fucktimer.com/" data-scroll>Docs</a>
        <a class="link" href="https://discord.fucktimer.com/" target="_blank" data-scroll>Discord</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
